<!DOCTYPE html>

<form action="/remove-user" method="POST">

    <input type="text" name="user_id" placeholder="Nome do usuário" required>

    <button type="submit">
        Remover Usuário
    </button>

</form>

</div>

<div class="panel">

    <h2>Adicionar Equipamento</h2>

    <form action="/add-node" method="POST">

        <input type="text" name="node_id" placeholder="Nome do nó" required>

        <select name="node_type">
            <option value="router">Router</option>
            <option value="server">Servidor</option>
            <option value="switch">Switch</option>
        </select>

        <button type="submit">
            Adicionar Nó
        </button>

    </form>

</div>

<div class="panel">

    <h2>Remover Equipamento</h2>

    <form action="/remove-node" method="POST">

        <input type="text" name="node_id" placeholder="Nome do nó" required>

        <button type="submit">
            Remover Nó
        </button>

    </form>

</div>

</div>

<div class="network-info">

    <h2>Dispositivos da Rede</h2>

    <ul>
        {% for node in data.nodes %}
        <li>
            {{ node.id }} - {{ node.type }}
        </li>
        {% endfor %}
    </ul>

</div>

</main>

</div>

</body>

</html>